<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimo.mapper.AIMasterdataMapper">

    <resultMap id="BaseResultMap" type="com.kimo.model.dto.po.AIMasterData">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="aiTitle" column="aiTitle" jdbcType="VARCHAR"/>
            <result property="aiBody" column="aiBody" jdbcType="VARCHAR"/>
            <result property="aiResult" column="aiResult" jdbcType="VARCHAR"/>
            <result property="userTitle" column="userTitle" jdbcType="VARCHAR"/>
            <result property="userBody" column="userBody" jdbcType="VARCHAR"/>
        <result property="pic" column="user_avatar" javaType="java.sql.Blob" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="aiMessageSessionId" column="aiMessageSessionId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,aiTitle,aiBody,pic,
        aiResult,userTitle,userBody,
        userId,createTime,updateTime,
        isDelete,aiMessageSessionId
    </sql>
<!--    <select id="findAiMasterDataById" resultType="com.kimo.model.entity.AIMasterData">-->

<!--    </select>-->
</mapper>
